@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    border: 1px solid red;
    font-family: 'Roboto', sans-serif;
} 

/* Primary Elements */

body {
    display:flex;
    flex-direction: column;
    /* justify-content: space-around; */
    min-height: 100vh;
    margin: 0;
}

.header{
    height: 80px;    
    background-color: gray;
    display:flex;
    justify-content: space-between;
    padding: 10px 30px;
    
}

.footer {  
    background-color: gray;
    height: 80px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-info{
    height: 250px;
    padding: 10px 30px;
}

/* Secondary Elements */

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow:1;
}

.main{
    flex-grow: 1;
}

/* Tertiary elements */

.right-header{
    display: flex;
    align-items: center;
}

.left-header{
    display: flex;
    align-items: center;
}

/* Finer details*/

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    gap:20px;
}